name: iOS Build Task
on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: macos-latest # 使用 GitHub 提供的 Mac 伺服器
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        run: flutter pub get

      - name: Install CocoaPods
        run: |
          cd ios
          # 在雲端執行 Windows 做不到的步驟
          rm -rf Pods
          rm -rf Podfile.lock
          pod install --repo-update 

      - name: Build iOS (No Sign)
        run: |
          # 因為沒有 Apple 憑證，我們只能編譯成 .app 資料夾，這可以用來檢查程式碼有沒有錯
          flutter build ios --no-codesign --release
